.allPosts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2%;
}

.post-home {
    cursor: pointer;
    margin-bottom: 40px;
    width: 85%;
}

.postLink {
    display: flex;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.cover-home {
    display: flex;
    width: 30%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border-radius: 10px 10px 0 0;
    height: 300px;
}

.cover-home>img {
    object-fit: cover;
    max-width: 100%;
    min-height: 100%;
}

.content-home {
    display: inline-block;
    width: 70%;
    padding: 1%;
    border-left: 1px solid;
}


.content-home>h3 {
    text-align: center;
}

.content-home>span {
    margin-bottom: 5px;
    margin-right: 5px;
}

.info-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.post-details {
    display: flex;
    margin-top: 10px;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

.post-details>span {
    display: flex;
    align-items: center;

}