.loginPage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.login {
    display: block;
    text-align: center;
    width: auto;
}

.login a {
    text-decoration: underline blue;
}

h1 {
    margin-top: 2px;
}

.icon {
    display: inline;
}